<!DOCTYPE html>
<html>
<head>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript">
	$(document).ready(function(){
		//connect to the socket server./// change the port acordingly
		var socket_alert = io.connect('http://54.93.73.162:' + 5001 + '/alerts');  
		//receive details from server
		var alerts_received = [];
		socket_alert.on('data', function(data) {
			console.log("New Alert recieved ");
			//maintain a list of ten numbers
			if (alerts_received.length >= 10){
				alerts_received.shift()
			}    
			var newAlert = '<p> *********** New Alert Recieved  *********** <p>';
			newAlert += '<p> AlertId : ' + data.alertId + '<p>';
			newAlert += '<p> assetId : ' + data.assetId + '<p>';
			newAlert += '<p> condtionId : ' + data.condtionId + '<p>';
			newAlert += '<p> jobId : ' + data.jobId + '<p>';
			newAlert += '<p> status : ' + data.status + '<p>';
			newAlert += '<p> alertLevel : ' + data.alertLevel + '<p>';
			newAlert += '<p> alertCategory : ' + data.alertCategory + '<p>';
			newAlert += '<p> createdTime : ' + data.createdTime + '<p>';
			newAlert += '<p> lastUpdatedTime : ' + data.lastUpdatedTime + '<p>';

			alerts_received.push(newAlert);
			Alerts = '';
			for (var i = 0; i < alerts_received.length; i++){
				Alerts += alerts_received[i]+ '<p>';
			}

			document.getElementById("log").innerHTML= Alerts
		});

	});
	</script>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <div class="jumbotron">
    <h2>DOP data recieved, asynchronously:  Gaurav</h2>
  </div>
</div>
</div>

<div class="container" id="content">
    <div class="row">
        <h3>Alerts Info recieved [Latest one is in the Bottom] </h3>
        <div id="log">
        </div> <!-- /#log -->
    </div>
</div>


</body>
</html>
